* {
	box-sizing: border-box;
}

*:hover {
	transform:scale(1.1);
}

body {
	background: #aaa;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
}

.site-wrapper {
	max-width: 700px;
	width: 100%;
	margin: 50px auto 0;
	background: white;
	/*transition: 2s;
	box-shadow: 0 0 40px -10px rgba(0, 0, 0, .5);*/
}

.site-wrapper:hover {
	/*transform: skewX(50deg) rotate(180deg);
	transition: 2s;*/
}

.site-header {
	text-align: center
}

.site-header-inner {
	padding: 20px;	
}

.site-title,
.site-description {
	margin: 0;
}

.site-description {
	margin-top: 10px;
}

.site-navigation {
	background: red;
}

.site-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-navigation a {
	color: white;
	padding: 20px;
	display: block;
	text-decoration: none;
	text-align: center;
}

.site-navigation a:hover {
	background-color: #800;
}

.site-navigation ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.site-main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
}

.main-sidebar {
	flex: 0 0 300px;
	background: #ccc;
	padding: 20px;
}

.main-content {
	flex: 1 1 auto;
	padding: 20px;
}